
  @if (error_message) {
  <div class="error-alert">
  <div>
  <mat-icon [inline]="true" color="warn">info</mat-icon>
  <div>{{ error_message }}</div>
  </div>
  <button mat-icon-button (click)="error_message = ''">
  <mat-icon>clear</mat-icon>
  </button>
  </div>
  }

  @if (['ADMIN'].includes(user_role)) {
    <div class="example-button-row">
    <button mat-flat-button (click)="navigateToAdd()">Add New</button>
    </div>
  }


  <div *ngIf="!carData || (carData && carData.length<0)">
    <hr/>No entries found
  </div>

  <table *ngIf="carData && carData.length>0" mat-table [dataSource]="carData">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let car"> {{car.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let car"> {{car.name}} </td>
  </ng-container>

  <ng-container matColumnDef="transmission">
    <th mat-header-cell *matHeaderCellDef> Transmission </th>
    <td mat-cell *matCellDef="let car"> {{car.transmission}} </td>
  </ng-container>

  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let car"> {{car.yearOfManufacture}} </td>
  </ng-container>

  <ng-container matColumnDef="price_per_day">
    <th mat-header-cell *matHeaderCellDef> Price per day </th>
    <td mat-cell *matCellDef="let car"> {{car.pricePerDay}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <div class="example-button-row">

      @if (['ADMIN','EDITOR'].includes(user_role)) {
      <mat-icon class="actions-button" (click)="navigateToEditCar(element)" color="primary">edit</mat-icon>
      }
      @if (['ADMIN'].includes(user_role)) {
      <mat-icon class="actions-button" (click)="openDeleteConfirmPopUp(element)" color="primary">delete</mat-icon>
      }
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
